:root{
    --blue: rgb(59, 130, 246);
    --black: rgb(63, 63, 70);
    --gray: rgb(161, 161, 170);
    --white: rgb(255, 255, 255);
    --off-white: rgb(240, 233, 210);
    --font1: 'Ubuntu', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--off-white);
}
.main{
    margin: auto;
    padding: 10px;
}
.container{
    margin: auto;
    max-width: 700px;
    min-width: 90%;
    background-color: var(--white);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(63, 63, 70, 0.5);
}
.text-center{
    text-align: center;
    margin: auto;
}
p{
    font-family: var(--font1);
    font-weight: 300;
    margin-bottom: 10px;
}
h1{
    font-family: var(--font1);
    font-weight: 400;
    font-size: 45px;
}
button{
    display: block;
    background-color: var(--blue);
    color: var(--white);
    padding: 5px 50px;
    border-style: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(63, 63, 70, 0.5);
    font-family: var(--font1);
    font-size: 35px;
}
button:hover{
    background-color: rgb(43, 100, 192);
    box-shadow: 4px 4px 4px rgba(63, 63, 70, 0.5);
}
.mb-20{
    margin-bottom: 20px;
}
.mt-20{
    margin-top: 20px;
}