:root{
    --blue: rgb(59, 130, 246);
    --black: rgb(63, 63, 70);
    --gray: rgb(161, 161, 170);
    --white: rgb(255, 255, 255);
    --off-white: rgb(240, 233, 210);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--off-white);
}
.main{
    margin: auto;
    padding: 10px;
}
.container{
    margin: auto;
    max-width: 700px;
    min-width: 90%;
    background-color: var(--white);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(63, 63, 70, 0.5);
}
.text-center{
    text-align: center;
    margin: auto;
}
p{
    font-family: 'Dongle', sans-serif;
    line-height: 15px;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 10px;
}
h1{
    font-family: 'Dongle', sans-serif;
    font-weight: 700;
    font-size: 45px;
}
button{
    display: block;
    background-color: var(--blue);
    color: var(--white);
    padding: 10px 20px;
    border-style: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(63, 63, 70, 0.5);
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
}