:root{
    --blue: rgb(59, 130, 246);
    --black: rgb(63, 63, 70);
    --gray: rgb(161, 161, 170);
    --white: rgb(255, 255, 255);
    --off-white: rgb(240, 233, 210);
    --font1: 'Oswald', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--font1);
}
body{
    background-color: var(--off-white);
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--off-white); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--blue); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.main{
    margin: auto;
    padding: 10px;
}
.container{
    margin: auto;
    max-width: 700px;
    /* min-width: 90%; */
    background-color: var(--white);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(63, 63, 70, 0.5);
    height:auto;
    overflow:auto;
}
.text-center{
    text-align: center;
    margin: auto;
}
p{
    font-family: var(--font1);
    font-weight: 300;
    margin-bottom: 10px;
}
h1,h2,h3{
    font-family: var(--font1);
    font-weight: 400;
    /* font-size: 45px; */
}
a{
    text-decoration: none;
}
.btn{
    display: flex;
    background-color: var(--blue);
    color: var(--white);
    padding: 5px 50px;
    border-style: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(63, 63, 70, 0.5);
    font-family: var(--font1);
    font-size: 35px;
}
hr{
    border : 0;
    height: 1px; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}
button:hover{
    background-color: rgb(43, 100, 192);
    box-shadow: 4px 4px 4px rgba(63, 63, 70, 0.5);
}
.mb-20{
    margin-bottom: 20px;
}
.mt-20{
    margin-top: 20px;
}
.w-auto{
    width: 100%;
}
.w-100{
    width: 100px;
}
.h-100{
    height: 100px;
}
.border-round{
    border-radius: 5px;
}
.float-right{
    float: right;
    margin-left: 5px;
    margin-bottom: 5px;
}
.newsletter{
    display: block;
    background-color: var(--off-white);
    padding: 20px 10px;
    border-radius: 10px;
    margin: auto;
}
.form-box{
    display: flex;
    width: 90%;
    margin: auto;
    /* height: 40px; */
    border: none;
    font-family: var(--font1);
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}
/* textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
  } */